.rd-header{
    width: 100%;
    background-color: #000;
    height: 100vh;
    color: #fff;
    padding-top: 100px;

    .rd-header--grid{
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .rd-header--flex{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    h1{
        font-size: 5.5rem;
    }
}